@using System.Security.Claims;
@using CookWithMe.Common;
@model CookWithMe.Web.ViewComponents.Models.ProfileSidebarViewComponentViewModel

<div class="four columns">
    <div class="widget">
        <div class="author-box">
            @if (this.ViewData["IsAdmin"] != null)
            {
                <span class="title">@GlobalConstants.AdministratorRoleName</span>
            }
            @if (Model.LifestyleType != null)
            {
                <span class="title">@Model.LifestyleType</span>
            }
            <span class="name">@Model.FullName</span>
            <img src="@Model.ProfilePhoto" alt="">
            <div class="margin-top-20"></div>
            <p>@Model.Biography</p>
            <div class="margin-top-20"></div>
            @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id)
            {
                <a href="/Users/EditAdditionalInfo" class="button small">Edit</a>
            }
        </div>
    </div>
</div>
<div class="four columns">
    <div class="widget">
        <h4 class="headline">Recipes</h4>
        <span class="line margin-bottom-20"></span>
        <div class="clearfix"></div>
        <ul class="categories">
            <li><a href="/Users/Profile/Favorite/@Model.Id">Favorite</a></li>
            <li><a href="/Users/Profile/Cooked/@Model.Id">Cooked</a></li>
            @if (this.ViewData["IsAdmin"] != null)
            {
                <li><a href="/Users/Profile/Admin/@Model.Id">My Recipes</a></li>
            }
        </ul>
    </div>
</div>