@using CookWithMe.Common;
@using  CookWithMe.Web.Infrastructure;
@model PaginatedList<CookWithMe.Web.ViewModels.Categories.Recipes.CategoryRecipesRecipeViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<!-- Content
================================================== -->
<div class="container">
    <!-- Masonry -->
    <div class="twelve columns">
        @if (this.TempData["Success"] != null)
        {
            @await Component.InvokeAsync("SuccessAlert", new { message = this.TempData["Success"] });
        }
        <!-- Headline -->
        <h3 class="headline">@ViewData["CategoryTitle"]</h3>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a href="/Administration/Categories/Edit/@ViewData["CategoryId"]" class="button medium color" margin: 0 5px 0 0;">Edit</a>
            <a href="/Administration/Categories/Delete/@ViewData["CategoryId"]" class="button medium" margin: 0 5px 0 0;">Delete</a>
        }
        else
        {
            <span class="line rb margin-bottom-35"></span>
        }
        <div class="clearfix"></div>
        <!-- Isotope -->
        <div class="isotope">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="margin-top-20"></div>
            }
            @foreach (var recipe in Model)
            {
                <!-- Recipe #1 -->
                <div class="four recipe-box columns">
                    <!-- Thumbnail -->
                    <div class="thumbnail-holder">
                        <a href="/Recipes/Details/@recipe.Id">
                            <img src="@recipe.Photo" alt="" />
                            <div class="hover-cover"></div>
                            <div class="hover-icon">View Recipe</div>
                        </a>
                    </div>
                    <!-- Content -->
                    <div class="recipe-box-content">
                        <h3><a href="/Recipes/Details/@recipe.Id" class="text-wrap">@recipe.Title</a></h3>

                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Recipes"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="button big @prevDisabled">
            Previous
        </a>
        <a asp-action="Recipes"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="button color big @nextDisabled">
            Next
        </a>
    </div>
    <!-- Sidebar
    ================================================== -->
    @await Component.InvokeAsync("CategorySidebar")
</div>
<!-- Container / End -->
<div class="margin-top-50"></div>
