@using System.Security.Claims;
@using CookWithMe.Common;
@model CookWithMe.Web.ViewModels.Recipes.Details.RecipeDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-top-20"></div>
<div class="container">
    <div class="twelve columns">
        @if (this.TempData["Success"] != null)
        {
            @await Component.InvokeAsync("SuccessAlert", new { message = this.TempData["Success"] });
        }

        @if (this.TempData["Error"] != null)
        {
            @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
        }
    </div>
</div>
<!-- Recipe Background -->
<div class="recipeBackground">
    <img src=@Model.Photo alt="" />
</div>
<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">
    <!-- Recipe -->
    <div class="twelve columns">
        <div class="alignment">
            <!-- Header -->
            <section class="recipe-header">
                <div class="title-alignment">
                    <h2>@Model.Title</h2>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a href="/Administration/Recipes/Delete/@Model.Id" class="button medium float-right">Delete</a>
                            <a href="/Administration/Recipes/Edit/@Model.Id" class="button medium color float-right-with-margin">Edit</a>
                        }
                        if (!Model.UserCookedCurrentRecipe)
                        {
                            <a href="/Recipes/AddToCooked/@Model.Id" class="button medium color float-right-with-margin">Cooked</a>
                        }
                        else
                        {
                            <a href="/Recipes/RemoveFromCooked/@Model.Id" class="button medium float-right">Didn't Cook</a>
                        }
                        if (!Model.UserFavoritedCurrentRecipe)
                        {
                            <a href="/Recipes/AddToFavorite/@Model.Id" class="button medium color float-right-with-margin">&#10084</a>
                        }
                        else
                        {
                            <a href="/Recipes/RemoveFromFavorite/@Model.Id" class="button medium float-right-with-margin">&#10084</a>
                        }
                    }
                    @if (Model.Rate == -1)
                    {
                        <div class="rating zero-stars">
                            <div class="star-bg"></div>
                        </div>
                    }
                    else if (Model.Rate == 1)
                    {
                        <div class="rating one-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    }
                    else if (Model.Rate == 2)
                    {
                        <div class="rating two-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    }
                    else if (Model.Rate == 3)
                    {
                        <div class="rating three-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    }
                    else if (Model.Rate == 4)
                    {
                        <div class="rating four-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    }
                    else
                    {
                        <div class="rating five-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    }
                    <span><a href="#reviews">(@Model.Reviews.Count() review/s)</a></span>
                </div>
            </section>
            <!-- Photo -->
            <div class="recipeSlider rsDefault">
                <img itemprop="image" class="rsImg" src="@Model.Photo" alt="" />
            </div>
            <!-- Details -->
            <section class="recipe-details height" itemprop="nutrition">
                <ul>
                    <li>Serves: <strong itemprop="recipeYield">@Model.Serving</strong></li>
                    <li>Prep Time: <strong itemprop="prepTime">@Model.FormatedPreparationTime</strong></li>
                    <li>Cooking: <strong itemprop="cookTime">@Model.FormatedCookingTime</strong></li>
                </ul>
                <div class="menu nav-collapse first">
                    <ul>
                        <li>
                            <a href="#" style="color: #8dc63f">Yield</a>
                            <ul>
                                <li><a>@Model.Yield $</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu nav-collapse rest">
                    <ul>
                        <li>
                            <a href="#" style="color: #8dc63f">Nutritional Info</a>
                            <ul>
                                <li><a>Calories: @Model.NutritionalValue.Calories</a></li>
                                <li><a>Fats: @Model.NutritionalValue.Fats</a></li>
                                <li><a>Of which saturated: @Model.NutritionalValue.SaturatedFats</a></li>
                                <li><a>Carbohydrates: @Model.NutritionalValue.Carbohydrates</a></li>
                                <li><a>Of which sugars: @Model.NutritionalValue.Sugar</a></li>
                                <li><a>Protein: @Model.NutritionalValue.Protein</a></li>
                                <li><a>Fiber: @Model.NutritionalValue.Fiber</a></li>
                                <li><a>Salt: @Model.NutritionalValue.Salt</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu nav-collapse rest">
                    <ul>
                        <li>
                            <a href="#" style="color: #8dc63f">Allergens</a>
                            <ul>
                                @foreach (var allergen in Model.Allergens)
                                {
                                    <li><a>@allergen</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu nav-collapse rest">
                    <ul>
                        <li>
                            <a href="#" style="color: #8dc63f">Lifestyle</a>
                            <ul>
                                @foreach (var lifestyle in Model.Lifestyles)
                                {
                                    <li><a>@lifestyle</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu nav-collapse rest">
                    <ul>
                        <li>
                            <a href="#" style="color: #8dc63f">Skill Level</a>
                            <ul>
                                <li><a>@Model.SkillLevel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </section>
            <!-- Summary -->
            <p itemprop="description">@Model.Summary</p>
            <div class="margin-bottom-5"></div>
            <!-- Ingredients -->
            <h3>Ingredients</h3>
            <div class="margin-top-10"></div>
            <ul>
                @foreach (var ingredient in Model.ShoppingListIngredients)
                {
                    <li>
                        <label itemprop="ingredients" for="check-1">@ingredient</label>
                    </li>
                }
            </ul>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="margin-top-20"></div>

                <a href="/ShoppingLists/Get/@Model.ShoppingListId" class="button medium color">Get Shopping List</a>
            }
            <div class="margin-top-20"></div>
            <!-- Directions -->
            <h3>Directions</h3>
            <ol class="directions" itemprop="recipeInstructions">
                @foreach (var direction in Model.DirectionsList)
                {
                    <li>@direction</li>
                }
            </ol>
            <div class="clearfix"></div>
            <div class="margin-bottom-20"></div>
            <!-- Reviews
            ================================================== -->
            <h3 class="headline">Reviews <span class="comments-amount">(@Model.Reviews.Count())</span></h3><span class="line"></span><div class="clearfix"></div>
            <!-- Reviews -->
            <section class="comments ten columns float-right-with-margin" id="reviews">
                <ul>
                    @foreach (var review in Model.Reviews)
                    {
                        <li>
                            @if (review.Reviewer.ProfilePhoto != null)
                            {
                                <div class="avatar"><a href="/Users/Profile/Favorite/@review.Reviewer.UserName"><img src=@review.Reviewer.ProfilePhoto alt="" /></a></div>
                            }
                            else
                            {
                                <div class="avatar"><a href="/Users/Profile/Favorite/@review.Reviewer.UserName"><img src="https://res.cloudinary.com/cookwithme-cloud/image/upload/v1566904677/common/default_profile_photo_xbwz2n.jpg" alt="" /></a></div>
                            }
                            <div class="comment-content">
                                <div class="arrow-comment"></div>
                                <div class="comment-by">
                                    @if (review.Reviewer.UserName == this.User.FindFirst(ClaimTypes.Name).Value ||
                                      this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <a href="/Reviews/Delete/@review.Id" class="button small float-right">Delete</a>
                                    }
                                    @if (review.Reviewer.UserName == this.User.FindFirst(ClaimTypes.Name).Value)
                                    {
                                        <a href="/Reviews/Edit/@review.Id" class="button color small float-right-with-margin">Edit</a>
                                    }
                                    <strong><a href="/Users/Profile/Favorite/@review.Reviewer.UserName">@review.Reviewer.FullName</a></strong><span class="date">@review.CreatedOn.ToString("dd/MM/yyyy")</span>
                                </div>
                                <p>@review.Comment</p>
                                @if (review.Rating == 1)
                                {
                                    <div class="rating one-stars">
                                        <div class="star-rating"></div>
                                        <div class="star-bg"></div>
                                    </div>
                                }
                                else if (review.Rating == 2)
                                {
                                    <div class="rating two-stars">
                                        <div class="star-rating"></div>
                                        <div class="star-bg"></div>
                                    </div>
                                }
                                else if (review.Rating == 3)
                                {
                                    <div class="rating three-stars">
                                        <div class="star-rating"></div>
                                        <div class="star-bg"></div>
                                    </div>
                                }
                                else if (review.Rating == 4)
                                {
                                    <div class="rating four-stars">
                                        <div class="star-rating"></div>
                                        <div class="star-bg"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="rating five-stars">
                                        <div class="star-rating"></div>
                                        <div class="star-bg"></div>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </section>
            <div class="clearfix"></div>
            <!-- Add Review
            ================================================== -->
            <a href="/Reviews/Create/@Model.Id" class="button medium color">Add Review</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Sidebar
    ================================================== -->
    <div class="four columns">
        <!-- Author Box -->
        <div class="widget">
            <div class="author-box">
                <span class="title">Author</span>
                <span class="name"><a href="/Users/Profile/Favorite/@Model.User.UserName">@Model.User.FullName</a></span>
                <a href="/Users/Profile/Favorite/@Model.User.UserName"><img src="@Model.User.ProfilePhoto" alt=""></a>
                <div class="margin-top-20"></div>
                <p>@Model.User.Biography</p>
            </div>
        </div>
    </div>
</div>
<div class="margin-top-50"></div>
